<head>
  <link rel="stylesheet" href="style.css">
<link rel="icon" type="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9QVOCpQk5jIUdgKXg841sWoKTvu7muJnFlw:https://static.vecteezy.com/system/resources/previews/000/420/657/original/paper-plane-icon-vector-illustration.jpg&usqp=CAU">
  <title> Tara's Website 
  </title>
  </head>
body {
  background-color: teal;
}
h5{
  color: white;
  text-align: center;
  font-size: 200px;
}


nav {
  list-style-type: none;
  position:fixed;
  background-color: white;
  width:100%;
  top: 0;
  left: 0; 

}

li {
  display: inline;
  padding: 1.2%;
  float:left;
}

li:hover {
  background-color: teal; 
}

a {
  text-decoration: none;
  color: black;
}
  
